<!-- Scripts -->
    <script src='/Scripts/app.js'></script>
    <script src='/bootstrap/dist/js/bootstrap.bundle.min.js'></script>
    <script src='/jquery/dist/jquery.min.js'></script>

    <a href="https://github.com/aliadnankhan">Github</a>
    <a href="https://linkedin.com/in/aliadnankhan/">LinkedIn</a>
</body>
</html>