<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<!-- Main Content -->
<main>
  <div class= "title-section">
    <img src="/Assets/images/workout.png" alt="Logo" style="width:75%;">
    <h1>Welcome to Workout Tracker Website</h1>
    <p>Your gateway to managing workouts effectively.</p>
  </div>
</main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>
